.login-form{
    margin-top: 80px;
}

.login-link-recover{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    margin-top: 5px;
    color: #407BFF;
    display: block;
}

.login-link-register{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration-line: underline;
    margin-top: 15px;
    color: #407BFF;
    margin-left: 3px;
}

.login-submit{
    margin-top: 105px;
    margin-bottom: 35px;
}

.not-registred{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #9E9E9E;
}