.auth-card{
    padding: 95px 50px 50px 50px;
    border-radius: 20px;
    width: 550PX;
    margin-left: 30PX;
}

.auth-card-title{
    text-transform: uppercase;
    font-size: 48PX;
    line-height: 65PX;
    text-align: center;
    letter-spacing: -0.015rem;
    color: #263238;
    font-weight: normal;

}

@media(max-width: 576px){
    .auth-card{
        margin: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}